table{
    width: 100%
}

table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

th{
    background-color: lightblue;
}

#formdiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#formdiv label, button, input{
    padding: 7px;
    margin:10px;
}

#formdiv label{
    font-weight: bolder;
}